
backEnd/.idea/backEnd.iml
backEnd/.idea/inspectionProfiles/profiles_settings.xml
backEnd/.idea/misc.xml
backEnd/.idea/modules.xml
backEnd/.idea/vcs.xml
backEnd/pass.txt
frontEnd/.idea/codeStyles/codeStyleConfig.xml
frontEnd/.idea/frontEnd.iml
frontEnd/.idea/inspectionProfiles/Project_Default.xml
frontEnd/.idea/misc.xml
frontEnd/.idea/modules.xml
frontEnd/.idea/vcs.xml
frontEnd/src/serverLogic/APIConfig.js
frontEnd/src/serverLogic/APIConfig.js
