:root{
    --board-size:50vw;
}

.GameContainer{
    width: var(--board-size);
    height: var(--board-size);
    background-color: var(--section-bg-color);
    display:flex;
    align-items: center;
    justify-content: center;


}