.GameTimer{
    background: var(--text-color);
    padding: 0.5rem 2rem;
    width: 10rem;
    text-align: center;
    margin-top: 1rem;
}
.GameTimer > div{
    color: var(--body-color);
    font-size: 2.5rem;
    opacity: 0.6;
}

.GameTimer .active{
    opacity: 1;
}

.GameTimer .low-time{
    color: var(--fail-color);
}